<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Cadastro Vendedor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />


	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot - Case VSM <sec:authentication property="principal.username"/> </a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ><a th:href="@{/}">Vendedores</a></li>
					<li class="active"><a th:href="@{/add/}">Cadastro</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><form method="post" class="navbar-form navbar-right"
				  		th:action="@{/logout}">
				  	<button type="submit" class="btn btn-default pull-right">
				    <span class="glyphicon glyphicon-log-out"></span> 
				    Sair
				  </button>
				</form>
				</li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	<div class="panel panel-default">
        <div class="panel-heading">
            <strong>Cadastro de Vendedores</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${vendedor}" th:action="@{/save}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>  
                        <input type="hidden" th:field="*{id}"/>                  
                        
                        <div class="form-group ">   
                       			<label th:for="nome" class="col-sm-2 control-label">Nome:</label>
							  <div class="col-sm-6  control-label" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
					
							 		<input type="text" th:field="*{nome}" class="form-control input-sm"  autofocus="autofocus" placeholder="Informe o nome do vendedor" maxlength="50" />
							 </div>                                                       
                            
                        </div>
                       <div class="form-group">
							<label class="col-sm-2 control-label">Email:</label>
							 <div class="col-sm-6" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							 	<input type="email" th:field="*{email}" class="form-control"  />
							 </div>
						 </div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Senha:</label>
							 <div class="col-sm-2" th:classappend="${#fields.hasErrors('senha')}? 'has-error'">
							 	<input type="password" th:field="*{senha}" class="form-control"  />
							 </div>
							 <label class="col-sm-2 control-label">CPF:</label>
							 <div class="col-sm-6" th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
							 	<input type="text" th:field="*{cpf}" class="form-control"  />
							 </div>
						 </div>
                        <div class="form-group">
                        	 <label  class="col-sm-2 control-label">Data de Nascimento: </label> 
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('dataNascimento')}? 'has-error'">
                                <input type="date" class="input-sm" th:field="*{dataNascimento}"/>
                            </div>
                        </div>                        
                        <div class="form-group">
                        	 <label  class="col-sm-2 control-label">Celular: </label> 
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
                                <input type="text" class="input-sm" th:field="*{telefone}"/>
                            </div>
                        </div>                        
                       
                        <div class="form-group">	 
							<div class="col-sm-2">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCidade">
								 	 Cadastrar Cidade
									</button>
								</div>
								<div class="col-sm-2" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
								 <select th:field="*{cidade.id}" class="form-control" name="example" id="example">
						
						    		 <option th:each="cidade : ${cidades}"
						            	 th:value="${cidade.id}"
						            	 th:text="${cidade.nome}">
    			 					</option>
								</select>
							</div>
						</div>
				         	<div class="form-group">
							<label class="col-sm-2 control-label">CEP:</label>
							 <div class="col-sm-2">
							 	<input type="text" th:field="*{cep}" class="form-control"  maxlength="8" name="cep" id="cep"/>
							 </div>
							<label class="col-sm-2 control-label">Numero:</label>
							 <div class="col-sm-2">
							 	<input type="text" th:field="*{numero}" class="form-control"  />
							 </div>
						 </div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Rua:</label>
							 <div class="col-sm-4">
							 	<input type="text" th:field="*{rua}" class="form-control" name="rua" id="rua" />
							 </div>
						 </div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Bairro:</label>
							 <div class="col-sm-4">
							 	<input type="text" th:field="*{bairro}" class="form-control" name="bairro" id="bairro" />
							 </div>
						 </div>          
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
	
	
	
	<div class="modal fade" id="modalCidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Cadastrar Cidade</h4>
	      </div>
	      <div class="modal-body">
	       <form th:action="@{/cadastrarCidade}" th:object="${cidade}" method="post" class="form-horizontal">
	       		<div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                     </div>
	       		<div class="form-group">
					<label class="col-sm-2 control-label">Cidade:</label>
					  <div class="col-sm-10">
					 	<input type="text" th:field="*{nome}" class="form-control"  />
					 </div>
				</div> 
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Estado:</label>
					 <div class="col-sm-6">
					 	<input type="text" th:field="*{estado}" class="form-control" maxlength="2"  />
					 </div>
				 </div>
				 <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			        <button type="submit" class="btn btn-primary">Salvar</button>
			      </div>
	       </form>
	      </div>
	      
	    </div>
	  </div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
 <script type="text/javascript" >

 //made by João Goulart
 $("#cep").blur(function(){
	 searchAjax();
  });
 function searchAjax() {
		var cep = $('#cep').val();
		
		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "https://viacep.com.br/ws/"+cep+"/json",
			dataType : 'json',
			success : function(data) {
				$('#rua').val(data.logradouro);
				$('#bairro').val(data.bairro);
			},
			error : function(e) {
				alert("CEP invalido");
				
			},
			done : function(e) {
				console.log("DONE");
			}
		});
	}

	
    </script>
</html>